@{
    ViewBag.Title = "Home Page";
}

<div class="row row-1">
    <div class="col-12">
        <div class="carousel__container">
            <div class="carousel__item">
                
                <img src="~/Content/ImageRepository/LoveYouMan2_L.jpg" class="carousel__image">
            </div>
            <div class="carousel__item">
                <img src="~/Content/ImageRepository/rsz_clerks.jpg" class="carousel__image">
            </div>
            <div class="carousel__item">
                <img src="~/Content/ImageRepository/rsz_rt.jpg" class="carousel__image">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>
           See a List of Movies
        </p>
        <p><a class="btn btn-default" href="~/Movies/Index"> Get to da choppa! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Directors</h2>
        <p>See a List of Directors.</p>
        <p><a class="btn btn-default" href="~/Directors/Index"> Lights! Cameras! Action! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Genres</h2>
        <p>See a List of Genres</p>
        <p><a class="btn btn-default" href="~/Genres/Index">What is What! &raquo;</a></p>
    </div>
</div>